<!DOCTYPE html>

<html>
<head lang="en">

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <title><%= title %></title>
    
    <!-- Bootstrap Core CSS -->
    <link href="/stylesheets/style.css" rel="stylesheet">
    
</head>

<body>
    <div ng-app="mainApp">
        <ng-view></ng-view>
    </div>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-route.min.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-resource.min.js"></script>

    <script type="text/javascript" src="/javascripts/mainApp.js"></script>

</body>

</html>